/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/.codegraph
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/signing/
.DS_Store
**/.DS_Store
.DS_Store
entry/.DS_Store
